{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.ts.bdd.json",
      "options": {
        "parser": "json",
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}
